$width_site: 100%;
$width_sidebar_left: 190px;
$width_sidebar_right: 312px;
$width_content: 1090px;
$width_bloc_view: 910px;
$height_menu_top: 40px;
$height_menu_top_with_toolbar: 92px;
$height_img_autour_club: 281px;

$top_bloc_info_slider: 150px;

$color_sidebar_left: #211e1e;
$color_page: #000;
$color_header_nav: #fff;
$color_border_menu: #474344;
$color_menu_header: #B39C73;
$color_border_partenaires: #777;
$color_fond_left_column: #211e1e;

$color_doree: #B69979;
$color_fond_actu: #E2E2E2;
$color_noir_sco: #211e1e; 

$bottom_titre_une: 80px;
$bottom_body_une: 5px;

@mixin flex($dir) {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: $dir;
    -webkit-flex-direction: $dir;
    -ms-flex-direction: $dir;
}

@mixin flex_length($l) {
    flex: $l;
    -webkit-flex: $l;
    -ms-flex: $l;
}

@mixin flex_wrap($w) {
	flex-wrap: $w;
	-webkit-flex-wrap: $w;
	-ms-flex-wrap: $w;
}



@mixin bloc_partenaires($dir) {

    ul.liste_partenaires {

        border-top: 1px solid $color_border_partenaires;
        height: 100px;
        margin-left: 0;
        padding-left: 0;
        @include flex($dir);

        h4 {
            margin-bottom: 0;
            color: #fff;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 12px;
        }

        li {
            list-style: none;
        }

        .partenaires-officiels {
            border-top: none;
            border-bottom: none;
            border-left: 1px solid $color_border_partenaires;
            border-right: 1px solid $color_border_partenaires;
            @include flex_length(3);


            ul, h4 {
                max-width: 700px;
                margin: auto;
            }
            h4 {
                margin-top: 10px;
                padding-left: 10px;
            }
        }
        .partenaires-majeurs, .media-officiel {
			@include flex_length(1);
            ul {
                width: 200px;
                margin: auto;
            }
            h4 {
                width: 200px;
                margin: auto;
                margin-top: 10px;
                padding-left: 10px;
            }

        }
        .partenaires {
            height: 100px;

            ul {
                height: 80px;
                padding-left: 0;
                @include flex(row);
				@include flex_wrap(nowrap);
                li {
                    @include flex_length(1);
                    text-align: center;
                    line-height: 80px;
                }
            }
        }
        .media-officiel {
            h4 {
                padding-left: 0;
            }
            ul li {
                text-align: left;
            }
        }
    } 
}
