
body, h1, h2, h3, h4, p,.h3 {
	font-family: 'Ubuntu', sans-serif!important;
}
#container {
	position: relative;
}

.bx-wrapper {
	border: none!important;
	box-shadow: none!important;
	margin-bottom: 0!important;
}
	
.well {
	min-height: 0px;
	padding: 0px;
	margin-bottom: 0px;
	background-color: $color_sidebar_left;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#left_column {
	.nav > li{
		border-bottom: 1px solid $color_border_menu; 
		height: auto;
	
		&:hover {
			background-color: #000;
		}
		
		a {
			color: #fff;
			padding: 10px;
		}

		
		
	}
}

#header_top {
	.nav > li{
		a {
			text-transform: uppercase;
			font-weight: bold;
		}
		
	}
}

.navbar {
	min-height: 40px;
	margin-bottom: 0;
	border: none;
}


ul.event-slider.pager-processed {
	margin-left: 0;
	padding-left: 0;
}


#burger {
	background: #211e1e;/*url(../img/logo.png) no-repeat center bottom*/
	width: 100%;
	height: 60px;
	padding-top: 15px;
	padding-left: 30px;
	position: relative;
	
	img.logo {
		position: absolute;
		width: 53px;
		height: 72px;
		margin: auto;
		left: 0;
		right: 0;
		z-index: 400;
		top: 5px;
	}
	
	img {
		cursor: pointer;
	}
	
	.burger {
		background: url(../img/burger.jpg) no-repeat;
		width: 34px;
		height: 39px;
		cursor: pointer;
		
		&.fermer {
			background: url(../img/close.png) no-repeat;
			cursor: pointer;
		}
	}
}


#content_top {
    overflow: hidden;

}


.lecture {
	background: url(../img/lecture.jpg) no-repeat;
	width: 34px;
	height: 34px;
}

#left_column {
	.force-du-sco {
		@media (min-width: 200px) {display: none;}
		@media (min-width: 992px) {display: block;}
		padding-top: 30px;
		text-align: center;
		>p {
			color: #fff;
			text-transform: uppercase;
		}
		.suivez-nous {
			color: $color_doree;
			text-transform: uppercase;
		}
		.network {
			width: 80px;
			padding-top: 10px;
			margin: auto;

			.item {
				width: 25px;
				height: 22px;
				float :left;

				a {
					text-indent: -9999px;
					width: 25px;
					height: 22px;
					display: inline-block;
				}
				&.facebook {
					background: url(../img/facebook.png) no-repeat;
				background-position: center center;
				}
				&.twitter {
					background: url(../img/twitter.png) no-repeat;
				background-position: center center;
				}
				&.instagram {
					background: url(../img/instagram.png) no-repeat;
				background-position: center center;
				}
			}
		}
	}
}

body.not-logged-in {
	#messages {
		.error {
			display: none;
		}
	}
}

.custom-select {

    display: inline-block;
    max-width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.25;
    color: #464a4c;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
        background-size: auto auto;
    -webkit-background-size: 8px 10px;
    background-size: 8px 10px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -moz-appearance: none;
    -webkit-appearance: none;

}
