

@media screen and (max-width: 640px) {
	.item-list li {margin: 0 !important;width: 100%;}
	.reassurance-item {width: 100%;margin:0;}
	.logo-img {    max-width: 300px !important;margin: auto !important;padding: 15px 0;}
	.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit {background-position: 27% 48%;background-size: 5%;}
}

@media screen and (min-width: 641px) and (max-width: 989px){
	.node-product-type .cloud-zoom-container #wrap {float:left !important;width: 90%;}
	.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit {background-position: 20% 50%;background-size: 6%;}
}

@media screen and (min-width: 990px){
	.reassurance-item {width: 22%;margin-right: 3%;}
	.item-list ul li{width: 29%;}
	.node-product-type .cloud-zoom-container #wrap {float:left !important;width: 90%;}
	.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit {background-position: 30% 50%;background-size: 5%;}
}



/* Compilation SASS */
@media (min-width: 200px) {
  #liste_partenaires {
    background: #211e1e; }
    #liste_partenaires ul.liste_partenaires {
      border-bottom: 1px solid #777;
      height: 100px;
      margin-left: 0;
      padding-left: 0;
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column; }
      #liste_partenaires ul.liste_partenaires h4 {
        margin-bottom: 0;
        color: #fff;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 12px; }
      #liste_partenaires ul.liste_partenaires li {
        list-style: none; }
      #liste_partenaires ul.liste_partenaires .partenaires-officiels {
        border-top: none;
        border-bottom: none;
        border-left: 1px solid #777;
        border-right: 1px solid #777;
        flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3; }
        #liste_partenaires ul.liste_partenaires .partenaires-officiels ul, #liste_partenaires ul.liste_partenaires .partenaires-officiels h4 {
          max-width: 700px;
          margin: auto; }
        #liste_partenaires ul.liste_partenaires .partenaires-officiels h4 {
          margin-top: 10px;
          padding-left: 10px; }
      #liste_partenaires ul.liste_partenaires .partenaires-majeurs, #liste_partenaires ul.liste_partenaires .media-officiel {
        flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1; }
        #liste_partenaires ul.liste_partenaires .partenaires-majeurs ul, #liste_partenaires ul.liste_partenaires .media-officiel ul {
          width: 200px;
          margin: auto; }
        #liste_partenaires ul.liste_partenaires .partenaires-majeurs h4, #liste_partenaires ul.liste_partenaires .media-officiel h4 {
          width: 200px;
          margin: auto;
          margin-top: 10px;
          padding-left: 10px; }
      #liste_partenaires ul.liste_partenaires .partenaires {
        height: 100px; }
        #liste_partenaires ul.liste_partenaires .partenaires ul {
          height: 80px;
          padding-left: 0;
          display: flex;
          display: -webkit-flex;
          display: -ms-flexbox;
          flex-direction: row;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-wrap: nowrap;
          -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap; }
          #liste_partenaires ul.liste_partenaires .partenaires ul li {
            flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            text-align: center; }
      #liste_partenaires ul.liste_partenaires .media-officiel h4 {
        padding-left: 0; }
      #liste_partenaires ul.liste_partenaires .media-officiel ul li {
        text-align: left; }
    #liste_partenaires ul.liste_partenaires {
      height: auto; }
      #liste_partenaires ul.liste_partenaires .partenaires, #liste_partenaires ul.liste_partenaires .media-officiel, #liste_partenaires ul.liste_partenaires .partenaires-majeurs {
        flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        width: auto; }
      #liste_partenaires ul.liste_partenaires .partenaires-officiels {
        border-left: none;
        border-right: none;
        border-top: 1px solid #777;
        border-bottom: 1px solid #777; }
        #liste_partenaires ul.liste_partenaires .partenaires-officiels ul {
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          height: auto; }
          #liste_partenaires ul.liste_partenaires .partenaires-officiels ul li {
            flex: 0;
            -webkit-flex: 0;
            -ms-flex: 0;
            margin-left: 10px;
            margin-right: 10px; }
      #liste_partenaires ul.liste_partenaires .partenaires-majeurs h4, #liste_partenaires ul.liste_partenaires .partenaires-majeurs ul, #liste_partenaires ul.liste_partenaires .media-officiel h4, #liste_partenaires ul.liste_partenaires .media-officiel ul {
        margin-left: 10px;
        width: 100%;
        text-align: left;
        padding-left: 0; }
        #liste_partenaires ul.liste_partenaires .partenaires-majeurs h4 li, #liste_partenaires ul.liste_partenaires .partenaires-majeurs ul li, #liste_partenaires ul.liste_partenaires .media-officiel h4 li, #liste_partenaires ul.liste_partenaires .media-officiel ul li {
          text-align: left;
          flex: 0;
          -webkit-flex: 0;
          -ms-flex: 0;
          margin-right: 10px; } }
@media (min-width: 768px) {
  #liste_partenaires {
    background: #211e1e; }
    #liste_partenaires ul.liste_partenaires {
      border-bottom: 1px solid #777;
      height: 100px;
      margin-left: 0;
      padding-left: 0;
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column; }
      #liste_partenaires ul.liste_partenaires h4 {
        margin-bottom: 0;
        color: #fff;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 12px; }
      #liste_partenaires ul.liste_partenaires li {
        list-style: none; }
      #liste_partenaires ul.liste_partenaires .partenaires-officiels {
        border-top: none;
        border-bottom: none;
        border-left: 1px solid #777;
        border-right: 1px solid #777;
        flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3; }
        #liste_partenaires ul.liste_partenaires .partenaires-officiels ul, #liste_partenaires ul.liste_partenaires .partenaires-officiels h4 {
          max-width: 700px;
          margin: auto; }
        #liste_partenaires ul.liste_partenaires .partenaires-officiels h4 {
          margin-top: 10px;
          padding-left: 10px; }
      #liste_partenaires ul.liste_partenaires .partenaires-majeurs, #liste_partenaires ul.liste_partenaires .media-officiel {
        flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1; }
        #liste_partenaires ul.liste_partenaires .partenaires-majeurs ul, #liste_partenaires ul.liste_partenaires .media-officiel ul {
          width: 200px;
          margin: auto; }
        #liste_partenaires ul.liste_partenaires .partenaires-majeurs h4, #liste_partenaires ul.liste_partenaires .media-officiel h4 {
          width: 200px;
          margin: auto;
          margin-top: 10px;
          padding-left: 10px; }
      #liste_partenaires ul.liste_partenaires .partenaires {
        height: 100px; }
        #liste_partenaires ul.liste_partenaires .partenaires ul {
          height: 80px;
          padding-left: 0;
          display: flex;
          display: -webkit-flex;
          display: -ms-flexbox;
          flex-direction: row;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-wrap: nowrap;
          -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap; }
          #liste_partenaires ul.liste_partenaires .partenaires ul li {
            flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            text-align: center; }
      #liste_partenaires ul.liste_partenaires .media-officiel h4 {
        padding-left: 0; }
      #liste_partenaires ul.liste_partenaires .media-officiel ul li {
        text-align: left; }
    #liste_partenaires ul.liste_partenaires {
      height: 300px; }
      #liste_partenaires ul.liste_partenaires .partenaires, #liste_partenaires ul.liste_partenaires .media-officiel, #liste_partenaires ul.liste_partenaires .partenaires-majeurs {
        flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        width: auto; }
      #liste_partenaires ul.liste_partenaires .partenaires-officiels {
        border-left: none;
        border-right: none;
        border-top: 1px solid #777;
        border-bottom: 1px solid #777; } }
@media (min-width: 992px) {
  #liste_partenaires {
    background: #211e1e; }
    #liste_partenaires ul.liste_partenaires {
      border-bottom: 1px solid #777;
      height: 100px;
      margin-left: 0;
      padding-left: 0;
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column; }
      #liste_partenaires ul.liste_partenaires h4 {
        margin-bottom: 0;
        color: #fff;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 12px; }
      #liste_partenaires ul.liste_partenaires li {
        list-style: none; }
      #liste_partenaires ul.liste_partenaires .partenaires-officiels {
        border-top: none;
        border-bottom: none;
        border-left: 1px solid #777;
        border-right: 1px solid #777;
        flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3; }
        #liste_partenaires ul.liste_partenaires .partenaires-officiels ul, #liste_partenaires ul.liste_partenaires .partenaires-officiels h4 {
          max-width: 700px;
          margin: auto; }
        #liste_partenaires ul.liste_partenaires .partenaires-officiels h4 {
          margin-top: 10px;
          padding-left: 10px; }
      #liste_partenaires ul.liste_partenaires .partenaires-majeurs, #liste_partenaires ul.liste_partenaires .media-officiel {
        flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1; }
        #liste_partenaires ul.liste_partenaires .partenaires-majeurs ul, #liste_partenaires ul.liste_partenaires .media-officiel ul {
          width: 200px;
          margin: auto; }
        #liste_partenaires ul.liste_partenaires .partenaires-majeurs h4, #liste_partenaires ul.liste_partenaires .media-officiel h4 {
          width: 200px;
          margin: auto;
          margin-top: 10px;
          padding-left: 10px; }
      #liste_partenaires ul.liste_partenaires .partenaires {
        height: 100px; }
        #liste_partenaires ul.liste_partenaires .partenaires ul {
          height: 80px;
          padding-left: 0;
          display: flex;
          display: -webkit-flex;
          display: -ms-flexbox;
          flex-direction: row;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-wrap: nowrap;
          -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap; }
          #liste_partenaires ul.liste_partenaires .partenaires ul li {
            flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            text-align: center; }
      #liste_partenaires ul.liste_partenaires .media-officiel h4 {
        padding-left: 0; }
      #liste_partenaires ul.liste_partenaires .media-officiel ul li {
        text-align: left; }
    #liste_partenaires ul.liste_partenaires {
      height: 280px; }
      #liste_partenaires ul.liste_partenaires .partenaires, #liste_partenaires ul.liste_partenaires .media-officiel, #liste_partenaires ul.liste_partenaires .partenaires-majeurs {
        flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        width: auto; }
      #liste_partenaires ul.liste_partenaires .partenaires-officiels {
        border-left: none;
        border-right: none;
        border-top: 1px solid #777;
        border-bottom: 1px solid #777; } }
@media (min-width: 1200px) {
  #liste_partenaires {
    background: #211e1e; }
    #liste_partenaires ul.liste_partenaires {
        border-bottom: 1px solid #777;
        height: 100px;
        margin: 0;
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row; }
      #liste_partenaires ul.liste_partenaires h4 {
        margin-bottom: 0;
        color: #fff;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 12px; }
      #liste_partenaires ul.liste_partenaires li {
        list-style: none; }
      #liste_partenaires ul.liste_partenaires .partenaires-officiels {
        border-top: none;
        border-bottom: none;
        border-left: 1px solid #777;
        border-right: 1px solid #777;
        flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3; }
        #liste_partenaires ul.liste_partenaires .partenaires-officiels ul, #liste_partenaires ul.liste_partenaires .partenaires-officiels h4 {
          max-width: 700px;
          margin: auto; }
        #liste_partenaires ul.liste_partenaires .partenaires-officiels h4 {
          margin-top: 10px;
          padding-left: 10px; }
      #liste_partenaires ul.liste_partenaires .partenaires-majeurs, #liste_partenaires ul.liste_partenaires .media-officiel {
        flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1; }
        #liste_partenaires ul.liste_partenaires .partenaires-majeurs ul, #liste_partenaires ul.liste_partenaires .media-officiel ul {
          width: 200px;
          margin: auto; }
        #liste_partenaires ul.liste_partenaires .partenaires-majeurs h4, #liste_partenaires ul.liste_partenaires .media-officiel h4 {
          width: 200px;
          margin: auto;
          margin-top: 10px;
          padding-left: 10px; }
      #liste_partenaires ul.liste_partenaires .partenaires {
        height: 100px; }
        #liste_partenaires ul.liste_partenaires .partenaires ul {
          height: 80px;
          padding-left: 0;
          display: flex;
          display: -webkit-flex;
          display: -ms-flexbox;
          flex-direction: row;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-wrap: nowrap;
          -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap; }
          #liste_partenaires ul.liste_partenaires .partenaires ul li {
            flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            text-align: center; }
      #liste_partenaires ul.liste_partenaires .media-officiel h4 {
        padding-left: 0; }
      #liste_partenaires ul.liste_partenaires .media-officiel ul li {
        text-align: left; } }

/*# sourceMappingURL=style-omega.css.map */
