@import "define.scss";

@media (min-width: 200px) {
	.sidebar--left {
		width: $width_sidebar_left;
		float: left;
		background: $color_sidebar_left;
		
	}
	
	.container {
		padding: 0;
	}
	
	.container {
		max-width: $width_site;
		width: 100%;
		overflow: auto;
	}
	
	.view-demo-content-slideshow {
		
		img {
			width: 100%;
			height: auto;
		}
		
		li {
			width: 100%;
		}
	}
}


@media (min-width: 768px) {
	.sidebar--left {
		width: $width_sidebar_left;
		float: left;
		background: $color_sidebar_left;
		
	}
}

@media (min-width: 992px) {
	
	
}


@media (min-width: 1200px) {
	
	
	#main {
		overflow: hidden;
		
	}
	
	
	
}


#sidebar_left {
	width: $width_sidebar_left;
	float: left;
	
}

	
.content {
	overflow: hidden;
	
}




