div.container {
  width: 1272px;
}

.grid-1 {
  width: 106px;
}

.grid-2 {
  width: 212px;
}

.grid-3 {
  width: 318px;
}

.grid-4 {
  width: 424px;
}

.grid-5 {
  width: 530px;
}

.grid-6 {
  width: 636px;
}

.grid-7 {
  width: 742px;
}

.grid-8 {
  width: 848px;
}

.grid-9 {
  width: 954px;
}

.grid-10 {
  width: 1060px;
}

.grid-11 {
  width: 1166px;
}

.grid-12 {
  width: 1272px;
}
