div.container {
  width: 1280px;
}

.grid-1 {
  width: 80px;
}

.grid-2 {
  width: 160px;
}

.grid-3 {
  width: 240px;
}

.grid-4 {
  width: 320px;
}

.grid-5 {
  width: 400px;
}

.grid-6 {
  width: 480px;
}

.grid-7 {
  width: 560px;
}

.grid-8 {
  width: 640px;
}

.grid-9 {
  width: 720px;
}

.grid-10 {
  width: 800px;
}

.grid-11 {
  width: 880px;
}

.grid-12 {
  width: 960px;
}

.grid-13 {
  width: 1040px;
}

.grid-14 {
  width: 1120px;
}

.grid-15 {
  width: 1200px;
}

.grid-16 {
  width: 1280px;
}
