@import "define.scss";

@import "bootstrap.min.css";

@import "global.scss";


body {
	overflow-x: hidden;
	padding-top: 0!important;
	#container {
		@media (min-width: 200px) {position: relative;}
		@media (min-width: 992px) and (min-height: 420px) {position: relative;height: 700px;}
		@media (min-width: 992px) and (min-height: 720px) {position: fixed;height: 100%;}
		width: 100%;
		background: #000 url(../img/fond_prehome.jpg) no-repeat center center;
		background-size: cover;

		#footer {
			@media (min-width: 200px) {
				position: relative;
				clear: both;
			}
			@media (min-width: 992px) {
				position: absolute;
				bottom: 0;
				width: 100%;
			}
		}	
	}
}

#toolbar {
	display: none;
}

@media (min-width: 200px) {


}
@media (min-width: 768px) {
}


@media (min-width: 992px) {

}


#content {
	@media (min-width: 200px) {
		position: relative;
	}
	@media (min-width: 992px) and (min-height: 720px) {
		position: absolute;
		left: 0;
		right: 0;
		top: 10%;
	}
	/*@media (min-height: 420px) {top:0;}*/
	/*@media (min-height: 720px) {top:10%;}*/
	max-width: 962px;
	width: 100%;
	margin: auto;

	.header {
		@media (min-width: 200px) {
			height: 90px;
			background: url(../img/prehome_logo.png) no-repeat 10px 10px;
			background-size: 50%;
		}
		@media (min-width: 590px) {
			height: 130px;
			background: url(../img/prehome_logo.png) no-repeat left top;
			background-size: initial;
		}

		position: relative;

		.block {
			position: initial;
		}

		.network, #block-locale-language {
			position: absolute;
			right: 10px;
			top: 0;
			@media (min-width: 200px) {
				padding-top: 20px;
			}
			@media (min-width: 580px) {
				padding-top: 40px;
			}
		}

		.network {
			right: 60px;
		}
		#block-locale-language {
			.title-lang {
				color: #fff;
				text-transform: uppercase;
				background: url(../img/fleche.jpg) no-repeat center right;
				padding-right: 15px;
				cursor: pointer;
			}
			ul {
				padding: 0;
				margin: 0;
				display: none;
				li {
					list-style: none;
					a {
						color: #fff!important;
						text-transform: uppercase;
					}
				}
			}
		}

	}

	.content-top{

		position: relative;

		.angers-sco-enter {
			position: relative;
			height: 230px;
			background: url(../img/fond_angers-sco.jpg) no-repeat center center;
			background-size: cover;

			p {
				text-transform: uppercase;
				color: #fff;
				font-size: 18px;
				padding: 15px;
				display: block;
			}

			a {
				padding: 15px;
				display: block;
				text-align: center;
				text-transform: uppercase;
				color: #fff;
				background: $color_doree;
				margin: 15px;
				color: #000;
				width: 100px;
				position: absolute;
				bottom: 0;
				font-weight: bold;


			}

		}

		.boutique {
			text-align: center;
			color: #fff;
		    text-transform: uppercase;
		    font-size: 22px;
		    padding-top: 12px;
			a {
				color: #fff;
			}
			@media (min-width: 200px) {
				float: left;
				width: 100%;
				margin: 0;
				height: 172px;
				background-size: cover;
				margin-top: 10px;
				
			}
			@media (min-width: 500px) {
				float: left;
				width: 49%;
				height: 172px;
				margin: 0px;
				margin-top: 10px;
			}
			@media (min-width: 992px) {
				width: 308px;
				height: 172px;
				margin: 0;
				margin-top: 10px;
			}
			background: url(../img/prehome_boutique.jpg) no-repeat center center;
		}
		.billets {
			text-align: center;
			color: #fff;
		    text-transform: uppercase;
		    font-size: 22px;
		    padding-top: 12px;
			a {
				font-size: 14px;
				color: #fff;
				display: block;
				width: 95px;
				text-align: center;
				margin: auto;
				padding-top: 15px;
			}
			@media (min-width: 200px) {
				float: left;
				width: 100%;
				margin: 0;
				height: 172px;
				background-size: cover;
				margin-top: 10px;
			}
			@media (min-width: 500px) {
				float: right;
				width: 49%;
				background-size: cover;
				height: 172px;
				margin: 0px;
				margin-top: 10px;
			}
			@media (min-width: 992px) {
				float: left;
				width: 308px;
				height: 172px;
				margin: 0;
				margin-top: 10px;
				margin-left: 10px;
			}
			height: 172px;
			background: url(../img/prehome_billets.jpg) no-repeat center center;
		}

		.fondation, .easy {
			height: 82px;

			a {
				color: #fff;
				display: block;
				line-height: 82px;
				text-transform: uppercase;
				font-size: 24px;
				text-align: center;
			}
		}
		.fondation {
			background: url(../img/prehome_fondation.jpg) no-repeat center center;
			background-size: cover;
			@media (min-width: 200px) {
				float: left;
				width: 100%;
				margin: 0;
				margin-top: 10px;
			}
			@media (min-width: 500px) {
				float: left;
				width: 49%;
				margin: 0;
				margin-top: 10px;
			}
			@media (min-width: 992px) {
				float: left;
				width: 326px;
				margin: 0;
				margin-top: 10px;
				margin-left: 10px;
			}
		}
		.easy {
			background: url(../img/prehome_easy.jpg) no-repeat center center;
			background-size: cover;
			@media (min-width: 200px) {
				float: left;
				width: 100%;
				margin: 0;
				margin-top: 10px;
			}
			@media (min-width: 500px) {
				float: right;
				width: 49%;
				margin: 0;
				margin-top: 10px;
			}
			@media (min-width: 992px) {
				float: left;
				width: 326px;
				margin: 0;
				margin-top: 10px;
				margin-left: 10px;
			}
		}

	}
}




.network {
			width: 115px;
			margin: auto;

			.item {
				width: 35px;
				height: 25px;
				float :left;
				text-align: center;

				a {
					text-indent: -9999px;
					width: 25px;
					height: 22px;
					display: inline-block;
				}
				&.facebook {
					background: url(../img/facebook.jpg) no-repeat;
				background-position: center center;
				}
				&.twitter {
					background: url(../img/twitter.jpg) no-repeat;
				background-position: center center;
				}
				&.instagram {
					background: url(../img/instagram.jpg) no-repeat;
					background-position: center center;
					width: 45px;
				}
			}
}
