$width_site: 100%;
$width_sidebar_left: 190px;
$width_content: 1090px;
$height_menu_top: 40px;
$height_menu_top_with_toolbar: 92px;

$top_bloc_info_slider: 100px;

$color_sidebar_left: #211e1e;
$color_page: #000;
$color_header_nav: #fff;
$color_border_menu: #474344;
$color_menu_header: #B39C73;
