#container {
	position: relative;
}

.bx-wrapper {
	border: none!important;
	box-shadow: none!important;
	margin-bottom: 0!important;
}
	
.well {
	min-height: 0px;
	padding: 0px;
	margin-bottom: 0px;
	background-color: $color_sidebar_left;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#left_column {
	.nav > li{
		border-bottom: 1px solid $color_border_menu; 
		height: 50px;
	
		&:hover {
			background-color: #000;
		}
		
		a {
			color: #fff;
		}
		
	}
}

#header_top {
	.nav > li{
		a {
			text-transform: uppercase;
			font-weight: bold;
		}
		
	}
}

.navbar {
	min-height: 40px;
	margin-bottom: 0;
	border: none;
}


ul.event-slider.pager-processed {
	margin-left: 0;
	padding-left: 0;
}


#burger {
	background: #211e1e;/*url(../img/logo.png) no-repeat center bottom*/
	width: 100%;
	height: 60px;
	padding-top: 15px;
	padding-left: 30px;
	position: relative;
	
	img.logo {
		position: absolute;
		width: 53px;
		height: 72px;
		margin: auto;
		left: 0;
		right: 0;
		z-index: 9000;
		top: 5px;
	}
	
	img {
		cursor: pointer;
	}
	
	.burger {
		background: url(../img/burger.jpg) no-repeat;
		width: 34px;
		height: 39px;
		cursor: pointer;
		
		&.fermer {
			background: url(../img/close.png) no-repeat;
			cursor: pointer;
		}
	}
}


#main_column, #content_top {
    overflow: hidden;

}
